PGEN v1.0 BETA by Sjeep
mc0:\BOOT\SJEEP\PGEN\PGEN.ELF
_MKDIR mc0:\BOOT\SJEEP
_MKDIR mc0:\BOOT\SJEEP\PGEN
_MKDIR mc0:\BOOT\SHARED
COPY cdrom0:\PGEN10B.ELF;1 mc0:\BOOT\SJEEP\PGEN\PGEN.ELF
COPY cdrom0:\MODULES\CDVD.IRX;1 mc0:\BOOT\SHARED\CDVD.IRX
COPY cdrom0:\MODULES\AMIGAMOD.IRX;1 mc0:\BOOT\SHARED\AMIGAMOD.IRX
COPY cdrom0:\MODULES\SJPCM.IRX;1 mc0:\BOOT\SHARED\SJPCM.IRX